/*styling for all buttons including voting, navigation, edit, delete, submit*/

.button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.button-group button {
  background-color: #333333;
  box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.66);
  color: white;
  margin: 10px 10px;
}

button link {
  color: white;
}

button link:hover {
  color: white
}

button a {
  color: white;
}

button a:hover {
  color: white;
}


.button-group input {
  background-color: #00B200;
  box-shadow: 3px 5px 6px -2px rgba(0,0,0,0.66);
  color: white;
}

.button-group button:hover {
  background-color: #007F00;
}

.button-group input:hover {
  background-color: #007F00;
}

.vote-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.vote-group button {
  background-color: #333333;
  margin: 10px 20px;
}

.vote-group img {
  height: 16px;
  width: 16px;
}
