* {
  font-family: 'Oxygen', sans-serif;
}

#intro {
  margin-left: 7.5%;
  margin-right: 7.5%;
  padding: 0 5%;
}

#tile {
  display: block;
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 0 5%;
  color: #333333;
}

#index {
  height: 500px;
  overflow-y: scroll;
}

#index h3 {
  margin-left: 12.5%;
  margin-right: 12.5%;
  padding: 0 5%;
}

#link {
  font-size: 24px;
}
