.navBar {
  width: 100%;
  padding: 0 20px;
  font-family: 'Oxygen', sans-serif;
}

.registration {
  float: right;
  font-family: 'Oxygen', sans-serif;
}

.authentication {
  float: right;
  width: 20%;
  display: inline;
  font-family: 'Oxygen', sans-serif;
}

.button {
  float: right;
  display: inline;
  height: auto;
  width: auto;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
  font-family: 'Oxygen', sans-serif;
}

.home {
  font-size: 40px;
  color: #000;
  font-family: 'Oxygen', sans-serif;
}
