.navBar {
  width: 100%;
}

.registration {
  float: right;
}

.authentication {
  float: right;
  width: 20%;
  display: inline;
}

.backButton {
  float: right;
  display: inline;
}

.home {
  font-size: 40px;
  color: #000;
}
