.body {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #333333;
  font-family: 'Oxygen', sans-serif;
}

.body h1 {
  color: #333333;
  font-family: 'Oxygen', sans-serif;
}

.body h2 {
  color: #333333;
  font-family: 'Oxygen', sans-serif;
}

.body h3 {
  color: #333333;
  font-family: 'Oxygen', sans-serif;
}

.body p {
  font-size: 20px;
  color: #333333;
  font-family: 'Oxygen', sans-serif;
}


#logoImage {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  box-shadow: inset -2px -6px 74px 19px rgba(218,230,242,1);
  background-image: url("crowd.jpg");
  background-position: top center;
  background-repeat: no-repeat;
  overflow: hidden;
  float: left;
}

.welcomeImage {
  margin-bottom: 7%;
  text-align: center;
}

.welcomeImage h1 {
  font-family: 'Vollkorn', serif;
  font-size: 132px;
  line-height: 120px;
  font-weight: bold;
  display: inline-block;
  margin-left: 75px;
  padding-top: 10px;
}

.welcomeImage h2 {
  font-family: 'Oxygen', sans-serif;
  color: #6789A6;
  display: inline-block;
  margin-left: 75px;
  line-height: 40px;
}

#hiddenSpace {
  background-color: #000;
  display: inline;
}

.welcomeQuote {
  margin-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

#welcomeLeft {
  float: left;
  background: rgba(255, 255, 255, 0.5);
  display: inline;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  bottom: 20px;
  border-radius: 25px;
  transition: all 1s ease;
}

blockquote{
  display: block;
  background-color: rgba(255, 255, 255, 0.75);
  position: relative;
  margin-top: 50px;

  /*Font*/
  font-size: 35px;
  width: 100%;

}

blockquote::before{
  content: "\201C";
  font-weight: bold;
  font-size: 72px;
  font-family: Georgia, serif;

  /*Positioning*/
  position: absolute;
  left: -20px;
  top: -20px;
}

blockquote q{
  color: black;
}

blockquote em{
  font-style: italic;
  color: #000;
}
