.body {
  background-image: url("background1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  color: #333333;
}

.body h1 {
  color: #333333;
}

.body h2 {
  color: #333333;
}

.body h3 {
  color: #333333;
}

.body p {
  font-size: 20px;
  color: #333333;
}

.welcomeImage {
  background-image: url("crowd.jpg");
  background-repeat: no-repeat;
  background-position: center top;
  box-shadow: 25px 25px 50px 0 white inset, -25px -25px 50px 0 white inset;
  width: 800px;
  height: 200px;
  margin-bottom: 50px;
  margin-left: 10%;
  margin-right: 12.5%;
  padding-left: 15%;
  padding-right: 15%;

  text-align: center;
}

.welcomeImage h1 {
  font-family: 'Oxygen', sans-serif;
  font-size: 72px;
  font-weight: bold;
}

.welcomeImage h2 {
  font-family: 'Oxygen', sans-serif;
  color: white
}


#hiddenSpace {
  background-color: #000;
  display: inline;
}

.welcomeQuote {
  margin-bottom: 100px;
  padding-left: 15%;
  padding-right: 15%;
}

#welcomeLeft {
  float: left;
  background: rgba(255, 255, 255, 0.5);
  display: inline;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  bottom: 20px;
  border-radius: 25px;
  transition: all 1s ease;
}

blockquote{
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  position: relative;
  margin-top: 50px;

  /*Font*/
  font-family: Georgia, serif;
  font-size: 35px;
  text-align: justify;
  width: 100%;

}

blockquote::before{
  content: "\201C";
  font-family: Georgia, serif;
  font-size: 60px;
  font-weight: bold;

  /*Positioning*/
  position: absolute;
  left: -20px;
  top: -20px;
}

blockquote q{
  color: black;
}

blockquote em{
  font-style: italic;
  color: #000;
}
